<p-confirmDialog header="Delete Record" icon="fa fa-question-circle"></p-confirmDialog>

<div class="animate">
  <div class="container-fluid navBar-padding">
    <div class="col-lg-12">
      <md-card>
        <md-card-header>
          <md-card-title>
            <h4>
              <b>Other Details</b>
            </h4>
          </md-card-title>
        </md-card-header>

        <md-card-content>
          <form>
            <div class="row">
              <div class="col-md-8 border-right">
                <h5>Personal Achiements</h5>

                <div class="col-md-5 border-right border-top">
                  <div class="row no-border">
                    <div class="col-md-4">
                      <h5>Name:</h5>
                    </div>

                    <div class="col-md-8">
                      <input name="nameInput" type="text" pInputText [(ngModel)]="achievementName" placeholder="Example Name" />
                    </div>
                  </div>

                  <div class="row no-border">
                    <div class="col-md-4">
                      <h5>Where:</h5>
                    </div>

                    <div class="col-md-8">
                      <input name="whereInput" type="text" pInputText [(ngModel)]="achievementWhere" placeholder="Example Where" />
                    </div>
                  </div>

                  <div class="row no-border">
                    <div class="col-md-4">
                      <h5>What/Why:</h5>
                    </div>

                    <div class="col-md-8">
                      <textarea name="whatWhyInput" pInputTextarea rows="5" cols="30" [(ngModel)]="achievementWhatWhy" placeholder="Example What/Why: Lorem ipsum dolor sit amet, consectetur adipiscing elit."></textarea>
                    </div>
                  </div>

                  <div class="row">
                    <button name="achievementButton" pButton type="button" class="raised-button right-align-button" (click)="AddAchievement()"
                      label="Add Acheivement"></button>
                  </div>
                </div>

                <div class="col-md-7 border-top achievement-list">
                  <p-dataTable [value]="achievements" scrollable="true" scrollHeight="18em">
                    <p-column field="name" header="Name" styleClass="text-center"></p-column>
                    <p-column field="where" header="Where" styleClass="text-center"></p-column>
                    <p-column field="whatWhy" header="What/Why" styleClass="text-center"></p-column>

                    <p-column header="Actions" styleClass="text-center" [style]="{width: '18%'}">
                      <ng-template let-achievement="rowData" pTemplate="body">
                        <button type="button" pButton (click)="editAchievement(achievement)" icon="fa-pencil"></button>
                        <button type="button" pButton (click)="deleteAchievement(achievement)" icon="fa-trash-o"></button>
                      </ng-template>
                    </p-column>
                  </p-dataTable>
                </div>
              </div>

              <div class="col-md-4">
                <div class="row no-border no-top-padding padding-left">
                  <div class="row no-border padding-left">
                    <h5>Interests and Hobbies</h5>
                  </div>

                  <div class="row padding-left">
                    <div class="col-md-4">
                      <button pButton type="button" class="raised-button extend-input" (click)="AddImage()" label="Add Image"></button>
                    </div>

                    <div class="col-md-1 no-padding-right no-padding-left">
                      <img src="{{interestImage}}" height="30" width="30" *ngIf="interestImage">
                    </div>

                    <div class="col-md-5 no-padding-right">
                      <input name="interestHobbyInput" pInputText class="extend-input" [(ngModel)]="interestName" placeholder="Interest/Hobby Name"
                      />
                    </div>

                    <div class="col-md-1">
                      <button pButton type="button" class="raised-button" (click)="AddInterestHobby()" icon="fa-plus"></button>
                    </div>
                  </div>

                  <div class="row padding-left">
                    <p-dataTable [value]="interestsHobbies" scrollable="true" scrollHeight="5.25em">
                      <p-column field="img" header="Image" styleClass="text-center">
                        <ng-template let-img let-interestHobby="rowData" pTemplate="body">
                          <img src="{{interestHobby[img.field]}}" height="30" width="30" *ngIf="interestHobby[img.field]">
                        </ng-template>
                      </p-column>

                      <p-column field="name" header="Name" styleClass="text-center"></p-column>

                      <p-column header="Actions" styleClass="text-center" [style]="{width: '20%'}">
                        <ng-template let-interestHobby="rowData" pTemplate="body">
                          <button type="button" pButton (click)="editInterestHobby(interestHobby)" icon="fa-pencil"></button>
                          <button type="button" pButton (click)="deleteInterestHobby(interestHobby)" icon="fa-trash-o"></button>
                        </ng-template>
                      </p-column>
                    </p-dataTable>
                  </div>
                </div>

                <div class="row padding-left">
                  <h5>Other Options</h5>

                  <div class="col-md-12 border-top text-center referee-padding">
                    <md-checkbox name="showReferees" [(ngModel)]="editService.showReferees">Show Referees?</md-checkbox>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                File Uploading
              </div>

              <div class="col-md-8 border-left">
                <p-dataGrid [value]="uploadedFiles">
                  <ng-template let-file pTemplate="item">
                    <div class="panel-padding">
                      <p-panel [header]="file.name" class="panel-text-align">
                        <img src="{{file.thumbnail}}" width="60" height="60">
                      </p-panel>
                    </div>
                  </ng-template>
                </p-dataGrid>
              </div>
            </div>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>

<!-- Edit Achievement -->
<p-dialog [(visible)]="editAchievementDetails" modal="true" [draggable]="false" [closable]="false" [width]="800">
  <p-header>
    Edit Achievement Details for {{selectedAchievement.name}}
  </p-header>

  <div class="container-fluid">
    <form>
      <div class="row no-border">
        <div class="col-md-6">
          <div class="row no-border">
            <div class="col-md-3 col-md-offset-2">
              <h5>Achievement Name:</h5>
            </div>

            <div class="col-md-4 col-md-offset-1">
              <input name="achievementNameInput" type="text" pInputText [(ngModel)]="selectedAchievement.name" placeholder="Example Name">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row no-border">
            <div class="col-md-3 col-md-offset-2">
              <h5>Where:</h5>
            </div>

            <div class="col-md-4 col-md-offset-1">
              <input name="achievementWhereInput" type="text" pInputText [(ngModel)]="selectedAchievement.where" placeholder="Example Where">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <h5>What/Why:</h5>
        </div>

        <div class="col-md-10">
          <textarea name="achievementWhatWhyInput" rows="10" class="textarea-full-width" pInputTextarea [(ngModel)]="selectedAchievement.whatWhy"
            placeholder="Example What/Why: Lorem ipsum dolor sit amet, consectetur adipiscing elit."></textarea>
        </div>
      </div>
    </form>
  </div>

  <p-footer>
    <button type="button" pButton label="Done" (click)="saveAndCloseAchievementDialog()"></button>
    <button type="button" pButton label="Cancel" (click)="closeAchievementDialog()"></button>
  </p-footer>
</p-dialog>

<!-- Edit Interest/Hobby -->
<p-dialog [(visible)]="editInterestHobbyDetails" modal="true" [draggable]="false" [closable]="false" [width]="800">
  <p-header>
    Edit Interest/Hobby Details for {{selectedInterestHobby.name}}
  </p-header>

  <div class="container-fluid" *ngIf="selectedInterestHobby.img">
    <div class="row no-border">
      <div class="col-md-2 col-md-offset-5 overlay" (click)="uploadImage()">
        <img src="{{selectedInterestHobby.img}}" class="image">

        <div class="image-overlay">
          <p class="overlay-text">Upload
            <br/>Interest/Hobby Image</p>
        </div>
      </div>
    </div>

    <form>
      <div class="row">
        <div class="col-md-2 col-md-offset-3">
          <h5>Interest/Hobby Name:</h5>
        </div>

        <div class="col-md-4 col-md-offset-1">
          <input name="interestHobbyNameInput" type="text" pInputText [(ngModel)]="selectedInterestHobby.name" placeholder="Example Name">
        </div>
      </div>
    </form>
  </div>

  <div class="container-fluid" *ngIf="!selectedInterestHobby.img">
    <div class="row no-border">
      <div class="col-md-2 col-md-offset-4">
        <button type="button" pButton (click)="uploadImage()" label="Add Image"></button>
      </div>
    </div>

    <form>
      <div class="row">
        <div class="col-md-2 col-md-offset-3">
          <h5>Interest/Hobby Name:</h5>
        </div>

        <div class="col-md-4 col-md-offset-1">
          <input name="interestHobbyNameInput" type="text" pInputText [(ngModel)]="selectedInterestHobby.name">
        </div>
      </div>
    </form>
  </div>

  <p-footer>
    <button type="button" pButton label="Done" (click)="saveAndCloseInterestDialog()"></button>
    <button type="button" pButton label="Cancel" (click)="closeInterestDialog()"></button>
  </p-footer>
</p-dialog>
