<div class="animate">
  <div class="container-fluid">
    <div class="col-lg-12">
      <md-card>
        <md-card-header>
          <md-card-title>
            <h4><b>Skills</b></h4>
          </md-card-title>
        </md-card-header>

        <md-card-content>
          <form>
            <div class="row">
              <div class="col-md-12">
                <p-dataList [value]="skills">
                  <ng-template let-skill pTemplate="item">
                    <div class="row">
                      
                    </div>
                  </ng-template>
                </p-dataList>
              </div>
            </div>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
