body {
  background: #ECF0F1;
  a:hover,
  a:focus {
    text-decoration: none;
  }
  .card {
    .card-header {
      .card-title {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1rem;
      }
    }
  }
  .carousel {
    .carousel-control {
      cursor: pointer;
    }
    .carousel-inner {
      .fa-chevron-left:before {
        position: absolute;
        top: 47%;
        left: 30px;
      }
      .fa-chevron-right:before {
        position: absolute;
        top: 47%;
        right: 30px;
      }
    }
  }
}

.main-container {
  margin-left: 235px;
  margin-top: 0;
  padding: 10px;
  overflow: visible;
  background: #ECF0F1;
}
