body {
    overflow: hidden;
}

#navItems {
    padding-top: 0.7em;
}

.nav-item {
    padding-right: 0.75em;
}

.raised-button {
    box-shadow: 0 0 2px 0 grey;
}

/* #sidebar {
    background: #cfcfcf;
    height: 100%;
} */

/* #navbar {
    background: #cfcfcf;
    box-shadow: -3px 1px 11px 0 grey;
} */