<p-growl [(value)]="msg"></p-growl>

<nav id="navbar" class="navbar navbar-fixed-top navbar-default">
  <div class="col-md-1 col-md-offset-2">
    <ul id="navItems" class="nav navbar-nav">
      <li class="nav-item"><button pButton type="button" (click)="Save()" class="raised-button" label="Save"></button></li>
    </ul>
  </div>

  <div class="col-md-2 col-md-offset-2">
    <h3 class="header">Edit CV</h3>
  </div>

  <div class="col-md-1 col-md-offset-3">
    <ul id="navItems" class="nav navbar-nav">
      <li class="nav-item"><button pButton type="button" (click)="Cancel()" class="ui-button-secondary raised-button" label="Cancel"></button></li>
    </ul>
  </div>
</nav>

<aside id="sidebar">
  <div class="sidenav-outer">
    <div class="menu-body">
      <ul class="nav nav-pills nav-stacked sidenav">
        <li>
          <p class="website-name">Digital CV</p>
        </li>

        <li>
          <div class="logo">
            <img [src]="editService.profile" class="img-circle user-avatar" />
            <p class="test-xs-center">Daniel Nash</p>
          </div>
        </li>

        <li>
          <a [routerLink]="['basic']"><i class="fa fa-id-card-o" aria-hidden="true"></i><span>&nbsp; Basic</span></a>
        </li>

        <li>
          <a [routerLink]="['skills']"><i class="fa fa-book" aria-hidden="true"></i><span>&nbsp; Skills</span></a>
        </li>

        <li>
          <a [routerLink]="['technology']"><i class="fa fa-code" aria-hidden="true"></i><span>&nbsp; Technology</span></a>
        </li>

        <li>
          <a [routerLink]="['experience']"><i class="fa fa-briefcase" aria-hidden="true"></i><span>&nbsp; Experiance</span></a>
        </li>

        <li>
          <a [routerLink]="['education']"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>&nbsp; Education</span></a>
        </li>

        <li>
          <a [routerLink]="['other']"><i class="fa fa-cogs" aria-hidden="true"></i><span>&nbsp; Other</span></a>
        </li>
      </ul>
    </div>
  </div>
</aside>
