<p-confirmDialog header="Delete Record" icon="fa fa-question-circle"></p-confirmDialog>

<div class="animate">
  <div class="container-fluid navBar-padding">
    <div class="col-lg-12">
      <mat-card>
        <mat-card-header>
          <div class="col-md-3">
            <mat-card-title>
              <h4>
                <b>Technology</b>
              </h4>
            </mat-card-title>
          </div>

          <div class="col-md-2 col-md-offset-7">
            <button type="button" pButton class="raised-button" (click)="newTechnology()" label="Add Technology"></button>
          </div>
        </mat-card-header>

        <mat-card-content>
          <form>
            <div class="row">
              <div class="col-md-2">
                <h5>Repositories:</h5>
              </div>

              <div class="col-md-8 border-right">
                <div class="row no-border">
                  <div class="col-md-3">
                    <p-dropdown name="repositoryAddDropdown" [options]="repositoryTypes" [(ngModel)]="selectedRepositoryType" [style]="{width: '100%'}"
                      placeholder="Repository Type"></p-dropdown>
                  </div>

                  <div class="col-md-6">
                    <input name="repositoryInput" type="text" pInputText [(ngModel)]="newRepository" placeholder="Link example: github.com/test-user"
                      style="width:100%">
                  </div>

                  <div class="col-md-3">
                    <button type="button" pButton (click)="addRepository()" label="Add Repository" icon="fa-plus"></button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <p-dataTable [value]="repositories">
                      <p-column field="type.long" header="Type" styleClass="text-center" [style]="{width: '30%'}"></p-column>
                      <p-column field="link" header="Link" styleClass="text-center"></p-column>

                      <p-column header="Actions" styleClass="text-center" [style]="{width: '15%'}">
                        <ng-template let-repository="rowData" pTemplate="body">
                          <button type="button" pButton (click)="editRepository(repository)" icon="fa-pencil"></button>
                          <button type="button" pButton (click)="deleteRepository(repository)" icon="fa-trash-o"></button>
                        </ng-template>
                      </p-column>
                    </p-dataTable>
                  </div>
                </div>
              </div>

              <div class="col-md-2 vertical-align">
                <mat-checkbox name="showRepositoryCheckBox" [(ngModel)]="editService.showRepositories">Show Repositories</mat-checkbox>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p-dataTable [value]="technologies" sortField="category" rowGroupMode="subheader" groupField="category">
                  <ng-template pTemplate="rowgroupheader" let-rowData>{{rowData['category']}}</ng-template>

                  <p-column field="img" header="Image" styleClass="text-center" [style]="{width: '7%'}">
                    <ng-template let-img let-technology="rowData" pTemplate="body">
                      <img src="{{technology[img.field]}}" height="60" width="60">
                    </ng-template>
                  </p-column>

                  <p-column field="name" header="Technology Name" styleClass="text-center" [style]="{width: '13%'}"></p-column>

                  <p-column field="detail" header="Technology Detail" styleClass="text-center"></p-column>

                  <p-column field="src" header="Technology Link" styleClass="text-center" [style]="{width: '20%'}"></p-column>

                  <p-column header="Actions" styleClass="text-center" [style]="{width: '7%'}">
                    <ng-template let-technology="rowData" pTemplate="body">
                      <button type="button" pButton (click)="editTechnology(technology)" icon="fa-pencil"></button>
                      <button type="button" pButton (click)="deleteTechnology(technology)" icon="fa-trash-o"></button>
                    </ng-template>
                  </p-column>
                </p-dataTable>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- Edit Repository -->
<p-dialog [(visible)]="editRepositoryDetails" modal="true" [draggable]="false" [closable]="false" [width]="800">
  <p-header>
    Edit Repository: {{selectedRepository.link}}
  </p-header>

  <div class="container-fluid">
    <form>
      <div class="row">
        <div class="col-md-2">
          <h5>Repository Link:</h5>
        </div>

        <div class="col-md-10">
          <input name="addDetailInput" pInputText style="width:100%" [(ngModel)]="selectedRepository.link" placeholder="www.example.link">
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 col-md-offset-6">
          <h5>Repository Type:</h5>
        </div>

        <div class="col-md-4">
          <p-dropdown appendTo="body" name="editTypeDropdown" [style]="{width: '100%'}" [options]="repositoryTypes" [(ngModel)]="selectedRepository.type"
            placeholder="No Type Selected"></p-dropdown>
        </div>
      </div>
    </form>
  </div>

  <p-footer>
    <button type="button" pButton label="Done" (click)="saveAndCloseRepositoryDialog()"></button>
    <button type="button" pButton label="Cancel" (click)="closeRepositoryDialog()"></button>
  </p-footer>
</p-dialog>

<!-- Edit Technology -->
<p-dialog [(visible)]="editDetails" modal="true" [draggable]="false" [closable]="false" [width]="800">
  <p-header>
    Edit {{selectedTechnology.name}} Details
  </p-header>

  <div class="container-fluid">
    <div class="row no-border">
      <div class="col-md-6 border-right">
        <div class="row no-border">
          <div class="file-upload">
            <input type="file" (change)="fileChangeListener($event)">
          </div>
        </div>

        <div class="row">
          <img-cropper #cropper [image]="data" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
        </div>
      </div>

      <div class="col-md-6">
        <span *ngIf="data.image">
          <img [src]="data.image" class="img-container" [width]="dataWidth" [height]="dataHeight">
        </span>
      </div>
    </div>

    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="row no-border">
            <div class="col-md-5">
              <h5>Technology Name:</h5>
            </div>

            <div class="col-md-7">
              <input name="technologyNameInput" type="text" pInputText [(ngModel)]="selectedTechnology.name" placeholder="Example Name">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row no-border">
            <div class="col-md-4">
              <h5>Related Link:</h5>
            </div>

            <div class="col-md-8">
              <input name="srcInput" type="text" pInputText [(ngModel)]="selectedTechnology.src" placeholder="www.example.link">
            </div>
          </div>
        </div>
      </div>

      <div class="row no-border">
        <div class="col-md-2 col-md-offset-3">
          <h5>Category:</h5>
        </div>

        <div class="col-md-4">
          <p-dropdown appendTo="body" name="addCategoryDropdown" [style]="{width: '100%'}" [options]="options" [(ngModel)]="selectedTechnology.category"
            editable="editable" placeholder="No Category Selected"></p-dropdown>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <h5>Detail:</h5>
        </div>

        <div class="col-md-10">
          <textarea name="addDetailInput" rows="10" class="textarea-full-width" pInputTextarea [(ngModel)]="selectedTechnology.detail"
            placeholder="Example Detail: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis, turpis sed sollicitudin pharetra, augue."></textarea>
        </div>
      </div>
    </form>
  </div>

  <p-footer>
    <button type="button" pButton label="Done" (click)="saveAndCloseEditDialog()"></button>
    <button type="button" pButton label="Cancel" (click)="closeEditDialog()"></button>
  </p-footer>
</p-dialog>

<!-- Add Technology -->
<p-dialog [(visible)]="addTechnology" modal="true" [draggable]="false" [closable]="false" [width]="800">
  <p-header>
    Add Technology
  </p-header>

  <div class="container-fluid">
    <div class="row no-border">
      <div class="col-md-6 border-right">
        <div class="row no-border">
          <div class="file-upload">
            <input type="file" (change)="fileChangeListener($event)">
          </div>
        </div>

        <div class="row">
          <img-cropper #cropper [image]="data" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
        </div>
      </div>

      <div class="col-md-6">
        <span *ngIf="data.image">
          <img [src]="data.image" class="img-container" [width]="dataWidth" [height]="dataHeight">
        </span>
      </div>
    </div>

    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="row no-border">
            <div class="col-md-5">
              <h5>Technology Name:</h5>
            </div>

            <div class="col-md-7">
              <input name="technologyNameInput" type="text" pInputText [(ngModel)]="selectedTechnology.name" placeholder="Example Name">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row no-border">
            <div class="col-md-4">
              <h5>Related Link:</h5>
            </div>

            <div class="col-md-8">
              <input name="srcInput" type="text" pInputText [(ngModel)]="selectedTechnology.src" placeholder="www.example.link">
            </div>
          </div>
        </div>
      </div>

      <div class="row no-border">
        <div class="col-md-2 col-md-offset-3">
          <h5>Category:</h5>
        </div>

        <div class="col-md-4">
          <p-dropdown appendTo="body" name="addCategoryDropdown" [style]="{width: '100%'}" [options]="options" [(ngModel)]="selectedTechnology.category"
            editable="editable" placeholder="No Category Selected"></p-dropdown>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <h5>Detail:</h5>
        </div>

        <div class="col-md-10">
          <textarea name="addDetailInput" rows="10" class="textarea-full-width" pInputTextarea [(ngModel)]="selectedTechnology.detail"
            placeholder="Example Detail: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis, turpis sed sollicitudin pharetra, augue."></textarea>
        </div>
      </div>
    </form>
  </div>

  <p-footer>
    <button type="button" pButton label="Done" (click)="addAndCloseAddDialog()"></button>
    <button type="button" pButton label="Cancel" (click)="closeAddDialog()"></button>
  </p-footer>
</p-dialog>
