<p-confirmDialog header="Delete Record" icon="fa fa-question-circle"></p-confirmDialog>

<div class="animate">
  <div class="container-fluid navBar-padding">
    <div class="col-ld-12">
      <md-card class="card">
        <md-card-header>
          <md-card-title>
            <h4><b>Basic Information</b></h4>
          </md-card-title>
        </md-card-header>

        <md-card-content>
          <form>
            <div class="row">
              <div class="col-md-1 col-md-offset-1">
                <p class="left-align">Avatar Image:</p>
              </div>

              <div class="col-md-3 overlay" (click)="UploadAvatar()">
                <img src="http://placehold.it/350x350" alt="image" class="img-circle image">

                <div class="image-overlay">
                  <p class="overlay-text">Upload<br/>Avatar Image</p>
                </div>
              </div>

              <div class="col-md-1 vr"></div>

              <div class="col-md-1">
                <p class="left-align">Profile Image:</p>
              </div>

              <div class="col-md-3 overlay" (click)="UploadProfile()">
                <img src="http://placehold.it/350x350" alt="image" class="img-circle image">

                <div class="image-overlay">
                  <p class="overlay-text">Upload<br/>Profile Image</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 border-right fix-padding">
                <div class="row no-border">
                  <div class="col-md-4">
                    <h5>Name:</h5>
                  </div>

                  <div class="col-md-8">
                    <input name="nameInput" type="text" pInputText [(ngModel)]="editService.name" />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <h5>Address:</h5>
                  </div>

                  <div class="col-md-8">
                    <input name="addressInput_1" type="text" pInputText [(ngModel)]="editService.address1" />
                    <input name="addressInput_2" type="text" pInputText class="address-input" [(ngModel)]="editService.address2" />
                    <input name="addressInput_3" type="text" pInputText [(ngModel)]="editService.address3" />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <h5>City:</h5>
                  </div>

                  <div class="col-md-8">
                    <input name="cityInput" type="text" pInputText [(ngModel)]="editService.city" />
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="row no-border fix-padding">
                  <div class="col-md-2">
                    <h5>Phone:</h5>
                  </div>

                  <div class="col-md-3">
                    <p-dropdown name="phoneTypeInput" [options]="phoneTypes" [(ngModel)]="selectedPhoneType" placeholder="Select Type"></p-dropdown>
                  </div>

                  <div class="col-md-5">
                    <input name="phoneInput" type="tel" pInputText [(ngModel)]="newNumber" />
                  </div>

                  <div class="col-md-2">
                    <button name="addNumberButton" pButton type="button" class="raised-button" (click)="AddNumber()" icon="fa-plus"></button>
                  </div>
                </div>

                <div class="row fix-padding">
                  <p-dataTable [value]="phoneNum" scrollable="true" scrollHeight="9.25em">
                    <p-column field="type.long" header="Type" styleClass="text-center"></p-column>
                    <p-column field="number" header="Number" styleClass="text-center"></p-column>

                    <p-column header="Actions" styleClass="text-center" [style]="{width: '20%'}">
                      <ng-template let-row="rowData" pTemplate="body">
                        <button type="button" pButton (click)="editNumber(row)" icon="fa-pencil"></button>
                        <button type="button" pButton (click)="deleteNumber(row)" icon="fa-trash-o"></button>
                      </ng-template>
                    </p-column>
                  </p-dataTable>
                </div>
              </div>

              <div class="col-md-5 border-left">
                <div class="row no-border fix-padding">
                  <div class="col-md-3">
                    <h5>Summary:</h5>
                  </div>

                  <div class="col-md-9">
                    <textarea name="summaryInput" pInputTextarea rows="11" class="summary-input" [(ngModel)]="editService.summary"></textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <div class="row no-border">
                  <div class="col-md-12">
                    <p-dropdown name="socialdropdown" [options]="socialTypes" [(ngModel)]="selectedSocialType" [style]="{width: '75%'}" placeholder="Pick a Social Service"></p-dropdown>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <input name="socialLink" type="text" pInputText [(ngModel)]="socialService" style="width:100%">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-7 col-md-offset-5">
                    <button name="addSocialButton" pButton type="button" class="raised-button" (click)="AddSocial()" label="Add Social Service"
                      icon="fa-plus"></button>
                  </div>
                </div>
              </div>

              <div class="col-md-9 border-left">
                <p-dataTable [value]="social" scrollable="true" scrollHeight="9.25em">
                  <p-column field="type.long" header="Type" styleClass="text-center"></p-column>
                  <p-column field="link" header="Link" styleClass="text-center"></p-column>

                  <p-column header="Actions" styleClass="text-center" [style]="{width: '10%'}">
                    <ng-template let-row="rowData" pTemplate="body">
                        <button type="button" pButton (click)="editSocialService(row)" icon="fa-pencil"></button>
                        <button type="button" pButton (click)="deleteSocialService(row)" icon="fa-trash-o"></button>
                      </ng-template>
                  </p-column>
                </p-dataTable>
              </div>
            </div>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>

<!-- Edit Phone Number -->
<p-dialog [(visible)]="editNumberDetails" modal="true" [draggable]="false" [closable]="false" [width]="600">
  <p-header>
    Edit Phone Number
  </p-header>

  <div class="container-fluid">
    <div class="row no-border">
      <div class="col-md-1">
        <h5>Type:</h5>
      </div>

      <div class="col-md-4">
        <p-dropdown appendTo="body" name="phoneTypeInput" [options]="phoneTypes" [(ngModel)]="selectedPhoneNum.type" [style]="{width: '100%'}"
          placeholder="Select Type"></p-dropdown>
      </div>

      <div class="col-md-2 col-md-offset-1">
        <h5>Number:</h5>
      </div>

      <div class="col-md-4">
        <input name="phoneInput" type="tel" pInputText [(ngModel)]="selectedPhoneNum.number" />
      </div>
    </div>
  </div>

  <p-footer>
    <button type="button" pButton label="Done" (click)="saveAndCloseEditDialog()"></button>
    <button type="button" pButton label="Cancel" (click)="closeEditDialog()"></button>
  </p-footer>
</p-dialog>

<!-- Edit Social Service -->
<p-dialog [(visible)]="editSocial" modal="true" [draggable]="false" [closable]="false" [width]="800">
  <p-header>
    Edit Social Service: {{selectedSocial.link}}
  </p-header>

  <div class="container-fluid">
    <form>
      <div class="row">
        <div class="col-md-2">
          <h5>Social Serivce Link:</h5>
        </div>

        <div class="col-md-10">
          <input name="addDetailInput" pInputText style="width:100%" [(ngModel)]="selectedSocial.link">
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 col-md-offset-6">
          <h5>Social Service Type:</h5>
        </div>

        <div class="col-md-4">
          <p-dropdown appendTo="body" name="editTypeDropdown" [style]="{width: '100%'}" [options]="socialTypes" [(ngModel)]="selectedSocial.type" placeholder="No Type Selected"></p-dropdown>
        </div>
      </div>
    </form>
  </div>

  <p-footer>
    <button type="button" pButton label="Done" (click)="saveAndCloseSocialDialog()"></button>
    <button type="button" pButton label="Cancel" (click)="closeSocialDialog()"></button>
  </p-footer>
</p-dialog>