<div [ngBusy]="busy"></div>
<p-messages [(value)]="msgs"></p-messages>

<div class="background">
  <div class="container">
    <div class="animate" *ngIf="showPage">
      <nav id="navbar" class="navbar navbar-fixed-top navbar-default navbar-inverse">
        <div class="col-md-1 col-md-offset-1">
          <h3 class="header">Digital CV</h3>
        </div>

        <div class="col-md-5">
          <ul id="navItems" class="nav navbar-nav">
            <li class="nav-item"><a role=button (click)="scrollTo('basic')">Basic</a></li>
            <li class="nav-item"><a role=button (click)="scrollTo('skill')">Skills</a></li>
            <li class="nav-item"><a role=button (click)="scrollTo('tech')">Technologies</a></li>
            <li class="nav-item"><a role=button (click)="scrollTo('experience')">Experience</a></li>
            <li class="nav-item"><a role=button (click)="scrollTo('education')">Education</a></li>
            <li class="nav-item"><a role=button (click)="scrollTo('other')">Other</a></li>
          </ul>
        </div>

        <div class="col-md-1 col-md-offset-3">
          <ul id="navItems" class="nav navbar-nav">
            <li class="nav-item" *ngIf="!loggedIn"><a role="button" (click)="login()">Login</a></li>

            <li class="dropdown nav-item" dropdown *ngIf="loggedIn">
              <a role="button" id="dropdownMenu" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                dropdown-toggle>Edit<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li><a role=button (click)="editRoute('/edit/basic')">Basic</a></li>
                <li><a role=button (click)="editRoute('/edit/skills')">Skills</a></li>
                <li><a role=button (click)="editRoute('/edit/technology')">Technologies</a></li>
                <li><a role=button (click)="editRoute('/edit/experience')">Experience</a></li>
                <li><a role=button (click)="editRoute('/edit/education')">Education</a></li>
                <li><a role=button (click)="editRoute('/edit/other')">Other</a></li>
                <li role="separator" class="divider"></li>
                <li><a role="button" (click)="logout()">Logout</a></li>
              </ul>
          </ul>
        </div>
      </nav>

      <div id="content" class="row navBar-padding">
        <div class="col-md-12">
          <div id="basic">
            <div class="row">
              <div class="col-md-2 col-md-offset-3">
                <img [src]="cvService.basic.avatar" class="img-circle avatar-position" width="100%" height="100%" alt="avatar-img"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <img [src]="cvService.basic.profile" class="img-circle profile-img" width="100%" height="100%" alt="profile-img"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <md-card id="basic-card" class="card">
                  <md-card-content>
                    <div></div>

                    <div class="row">
                      <div class="col-md-4 col-md-offset-4">
                        <h1>{{cvService.basic.name}}</h1>
                      </div>
                    </div>

                    <hr>

                    <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-5">
                            <h3 class="no-top-padding">Address:</h3>
                          </div>

                          <div class="col-md-7">
                            <p>{{cvService.basic.address_1}}</p>
                            <p>{{cvService.basic.address_2}}</p>
                            <p>{{cvService.basic.address_3}}</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-5">
                            <h3 class="no-top-padding">City:</h3>
                          </div>

                          <div class="col-md-7">
                            <p>{{cvService.basic.city}}</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 border-left">
                        <div class="row" *ngFor="let phone of phoneData">
                          <div class="col-md-4">
                            <h3 class="no-top-padding">{{phone.type.long}}</h3>
                          </div>

                          <div class="col-md-8">
                            <p>{{phone.number}}</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 border-left">
                        <div class="row" *ngFor="let social of socialData">
                          <div class="col-md-4">
                            <h3 class="no-top-padding">{{social.type.long}}</h3>
                          </div>

                          <div class="col-md-8">
                            <p>{{social.link}}</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <hr>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-3">
                            <h3 class="no-top-padding">Summary:</h3>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-10 col-md-offset-1">
                            <p>{{cvService.basic.summary}}</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <hr>
                  </md-card-content>
                </md-card>
              </div>
            </div>
          </div>

          <div id="skill">
            <md-card>
              <md-card-header>
                <md-card-title>
                  <h3>Skills</h3>
                </md-card-title>
              </md-card-header>

              <md-card-content>
                <div class="row">
                  <div class="col-md-4 skills" *ngFor="let category of configureSkills()">
                    <div class="row">
                      <div class="col-md-12">
                        <h4 class="border-padding">{{category.label}}</h4>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <ul class="skills-list">
                          <li *ngFor="let skill of category.value">
                            <p>{{skill}}</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <hr>
              </md-card-content>
            </md-card>
          </div>

          <div id="tech">
            <md-card>
              <md-card-header>
                <md-card-title>
                  <h3>Technology</h3>
                </md-card-title>
              </md-card-header>

              <md-card-content>
                <div class="row">
                  <div class="col-md-12">
                    <p-carousel circular="circular" autoplayInterval="10000" [value]="techData">
                      <ng-template let-tech pTemplate="item">
                        <div class="row">
                          <div class="col-md-4 col-md-offset-4">
                            <img src="{{tech.img}}" alt="Tech Image">
                          </div>
                        </div>

                        <div class="row border-padding">
                          <div class="col-md-3">
                            <h5>Name:</h5>
                          </div>

                          <div class="col-md-9">
                            <p class="vertical-align">{{tech.name}}</p>
                          </div>
                        </div>

                        <div class="row border-padding">
                          <div class="col-md-12">
                            <h5>Details:</h5>
                          </div>
                        </div>

                        <div class="row border-padding">
                          <div class="col-md-12">
                            <p>{{tech.detail}}</p>
                          </div>
                        </div>

                        <hr class="hr-padding">

                        <div class="row padding-bottom">
                          <div class="col-md-6 col-md-offset-3">
                            <button type="button" class="full-width" pButton icon="fa fa-external-link" iconPos="right" label="Go To Technology" (click)="openTech(tech.link)"></button>
                          </div>
                        </div>
                      </ng-template>
                    </p-carousel>
                  </div>
                </div>

                <hr *ngIf="cvService.basic.show_repositories">

                <div class="row" *ngIf="cvService.basic.show_repositories">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3">
                        <h3>Repositories</h3>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div *ngFor="let repo of repoData">
                            <a role="button" href="http://{{repo.link}}" target="_blank">
                              <div class="col-md-2">
                                <div class="col-md-2" [ngSwitch]="repo.type.long">
                                  <i *ngSwitchCase="'BitBucket'" class="fa fa-bitbucket" aria-hidden="true"></i>
                                  <i *ngSwitchCase="'GitHub'" class="fa fa-github" aria-hidden="true"></i>
                                </div>

                                <div class="col-md-9">
                                  <a role="button" (click)="openRepo(repo.link)">{{repo.type.long}} <i class="fa fa-external-link"></i></a>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <hr>
              </md-card-content>
            </md-card>
          </div>

          <div id="experience">
            <md-card class="experience-card">
              <md-card-header>
                <md-card-title>
                  <h3>Experience</h3>
                </md-card-title>
              </md-card-header>

              <md-card-content>
                <ul class="timeline">
                  <li *ngFor="let experience of experienceData; let isOdd = odd; let isEven = even">
                    <div class="time-card" [class.direction-l]="isOdd" [class.direction-r]="isEven">
                      <div class="flag-wrapper">
                        <span class="flag">{{experience.title}}</span>
                        <span *ngIf="experience.current" class="time-wrapper time">{{experience.start_date | date:'MMM y'}} - Current</span>
                        <span *ngIf="!experience.current" class="time-wrapper time">{{experience.start_date | date:'MMM y'}} - {{experience.end_date | date:'MMM y'}}</span>
                      </div>

                      <div class="desc">
                        <div *ngIf="isEven">
                          <div class="row">
                            <div class="col-md-3">
                              <img src="{{experience.image}}">
                            </div>

                            <div class="col-md-9">
                              <div class="row">
                                <div class="col-md-4">
                                  <h5>Location:</h5>
                                </div>

                                <div class="col-md-8">
                                  <p class="vertical-align-experience">{{experience.location}}</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <h5>Description:</h5>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <p>{{experience.description}}</p>
                            </div>
                          </div>
                        </div>

                        <div *ngIf="isOdd">
                          <div class="row">
                            <div class="col-md-9">
                              <div class="row">
                                <div class="col-md-4">
                                  <h5>Location:</h5>
                                </div>

                                <div class="col-md-8">
                                  <p class="text-left vertical-align-experience">{{experience.location}}</p>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <img src="{{experience.image}}">
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <h5>Description:</h5>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <p>{{experience.description}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>

                <hr>
              </md-card-content>
            </md-card>
          </div>

          <div id="education">
            <md-card class="experience-card">
              <md-card-header>
                <md-card-title>
                  <h3>Education</h3>
                </md-card-title>
              </md-card-header>

              <md-card-content>
                <ul class="timeline">
                  <li *ngFor="let education of educationData; let isOdd = odd; let isEven = even">
                    <div class="time-card" [class.direction-l]="isOdd" [class.direction-r]="isEven">
                      <div class="flag-wrapper">
                        <span class="flag">{{education.course}}</span>
                        <span *ngIf="education.current" class="time-wrapper time">{{education.year | date:'MMM y'}}</span>
                      </div>

                      <div class="desc">
                        <div *ngIf="isEven">
                          <div class="row">
                            <div class="col-md-3">
                              <img src="{{education.img}}">
                            </div>

                            <div class="col-md-9">
                              <div class="row">
                                <div class="col-md-4">
                                  <h5>School:</h5>
                                </div>

                                <div class="col-md-8">
                                  <p class="vertical-align-experience">{{education.school}}</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12 paper-table">
                              <p-dataTable [value]="getPapers(education.id)">
                                <p-column field="code" header="Code" [style]="{width: '15%'}"></p-column>
                                <p-column field="name" header="Name"></p-column>
                                <p-column field="grade" header="Grade" [style]="{width: '15%'}"></p-column>
                                <p-column header="Details" [style]="{width: '15%'}">
                                  <ng-template let-paper="rowData" pTemplate="body">
                                    <span mdTooltip="{{paper.detail}}"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                                  </ng-template>
                                </p-column>
                              </p-dataTable>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12 course-link">
                              <button pButton type="button" icon="fa fa-external-link" iconPos="right" label="Go To Course" (click)="openCourse(education.link)"></button>
                            </div>
                          </div>
                        </div>

                        <div *ngIf="isOdd">
                          <div class="row">
                            <div class="col-md-9">
                              <div class="row">
                                <div class="col-md-4">
                                  <h5>School:</h5>
                                </div>

                                <div class="col-md-8">
                                  <p class="text-left vertical-align-experience">{{education.school}}</p>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <img src="{{education.img}}">
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12 paper-table">
                              <p-dataTable [value]="getPapers(education.id)">
                                <p-column field="code" header="Code" [style]="{width: '15%'}"></p-column>
                                <p-column field="name" header="Name"></p-column>
                                <p-column field="grade" header="Grade" [style]="{width: '15%'}"></p-column>
                                <p-column header="Details" [style]="{width: '15%'}">
                                  <ng-template let-paper="rowData" pTemplate="body">
                                    <span mdTooltip="{{paper.detail}}"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                                  </ng-template>
                                </p-column>
                              </p-dataTable>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12 course-link">
                              <button pButton type="button" icon="fa fa-external-link" iconPos="right" label="Go To Course" (click)="openCourse(education.link)"></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>

                <hr>
              </md-card-content>
            </md-card>
          </div>

          <div id="other">
            <md-card>
              <md-card-header>
                <md-card-title>
                  <h3>Other Details</h3>
                </md-card-title>
              </md-card-header>

              <md-card-content>
                <div class="row">
                  <div class="col-md-8 border-right">
                    <div class="row border-padding">
                      <h4>Achievements</h4>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <md-grid-list cols="2" rowHeight="1.5:1">
                          <md-grid-tile *ngFor="let achievement of achievementData">
                            <md-grid-tile-header>
                              {{achievement.name}}
                            </md-grid-tile-header>

                            <div class="row border-padding">
                              <div class="col-md-12">
                                <h5>What/Why:</h5>

                                <div class="row">
                                  <div class="col-md-12">
                                    <p>{{achievement.whatWhy}}</p>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <md-grid-tile-footer>
                              <h5>Where:</h5>
                              <p class="achievement-where">{{achievement.where}}</p>
                            </md-grid-tile-footer>
                          </md-grid-tile>
                        </md-grid-list>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12">
                        <h4>Interests/Hobbies</h4>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <md-list>
                          <md-list-item *ngFor="let interest of interestData">
                            <md-icon md-list-icon>{{interest.img}}</md-icon>
                            <h5 md-line>{{interest.name}}</h5>
                          </md-list-item>
                        </md-list>
                      </div>
                    </div>
                  </div>
                </div>

                <hr *ngIf="cvService.basic.show_referees">

                <div class="row" *ngIf="cvService.basic.show_referees">
                  <div class="col-md-12">
                    <h3 class="center-text">Referees and paper CV are available on request at my e-mail: <br/> thedash52@hotmail.com</h3>
                  </div>
                </div>
              </md-card-content>
            </md-card>
          </div>
        </div>
      </div>

      <footer class="footer">
        <p class="center-text footer-text">This site was created by Daniel Nash, 2017.<br/>Version: 1.0.0_Beta</p>
      </footer>
    </div>
  </div>
</div>
