h1 {
    text-align: center;
}

.background {
    background-image: url("../../assets/images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar {
    z-index: 10;
    box-shadow: -3px 1px 11px 0 #454545;
}

.header {
    padding-top: 0.45em;
    margin-top: 0;
    text-align: center;
    color: #ffffff;
}

.navBar-padding {
    padding-top: 70px;
}

.no-top-padding {
    padding-top: 0;
    margin-top: 0;
}

.border-left {
    border-left: 1px solid darkgray;
}

#basic {
    background-color: transparent;
}

.avatar-position {
    z-index: 2;
    position: relative;
    margin-left: 3em;
    margin-bottom: -9em;
    text-align: center;
}

.profile-img {
    position: relative;
    z-index: 1;
    text-align: center;
}

.card {
    position: relative;
    margin-top: -10em;
}

#basic-card>.mat-card-content>:first-child {
    margin-top: 10em;
}

#skill {
    height: 50em;
    background-color: blue;
}

#tech {
    background-color: transparent;
}

#experience {
    height: 50em;
    background-color: green;
}

#education {
    height: 50em;
    background-color: blue;
}

#other {
    height: 50em;
    background-color: red;
}