<p-messages [(value)]="msgs"></p-messages>

<div class="background" *ngIf="showPage">
  <div class="container">
    <div class="animate">
      <nav id="navbar" class="navbar navbar-expand fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Digital CV</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul id="navItems" class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" role=button (click)="scrollTo('basic')">Basic</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" role=button (click)="scrollTo('skill')">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" role=button (click)="scrollTo('tech')">Technologies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" role=button (click)="scrollTo('experience')">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" role=button (click)="scrollTo('education')">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" role=button (click)="scrollTo('other')">Other</a>
            </li>
          </ul>
        </div>

        <div class="col-md-1 offset-md-5">
          <ul id="navItems" class="nav navbar-nav">
            <li class="nav-item" *ngIf="!loggedIn">
              <a class="nav-link" role="button" (click)="login()">Login</a>
            </li>

            <li class="dropdown nav-item" dropdown *ngIf="loggedIn">
              <a role="button" id="dropdownMenu" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true" dropdown-toggle>Edit
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li>
                  <a class="dropdown-item" role=button (click)="editRoute('/edit/basic')">Basic</a>
                </li>
                <li>
                  <a class="dropdown-item" role=button (click)="editRoute('/edit/skills')">Skills</a>
                </li>
                <li>
                  <a class="dropdown-item" role=button (click)="editRoute('/edit/technology')">Technologies</a>
                </li>
                <li>
                  <a class="dropdown-item" role=button (click)="editRoute('/edit/experience')">Experience</a>
                </li>
                <li>
                  <a class="dropdown-item" role=button (click)="editRoute('/edit/education')">Education</a>
                </li>
                <li>
                  <a class="dropdown-item" role=button (click)="editRoute('/edit/other')">Other</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a class="dropdown-item" role="button" (click)="logout()">Logout</a>
                </li>
              </ul>
          </ul>
        </div>
      </nav>

      <div id="content" class="row navBar-padding">
        <div class="col-md-12">
          <div id="basic" *ngIf="cvService.basic; else noBasicData">
            <!-- <div class="row" *ngIf="cvService.basic.avatar">
              <div class="col-md-2 offset-md-3">
                <img [src]="cvService.basic.avatar" class="rounded-circle avatar-position" width="100%" height="100%"
                  alt="avatar-img" />
              </div>
            </div> -->

            <div class="row" *ngIf="cvService.basic.profile">
              <div class="col-md-4 offset-md-4">
                <img [src]="cvService.basic.profile" class="rounded-circle profile-img" width="100%" height="100%" alt="profile-img" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <mat-card id="basic-card" class="card">
                  <mat-card-content>
                    <div class="row" *ngIf="cvService.basic.name">
                      <div class="col-md-4 offset-md-4">
                        <h1>{{cvService.basic.name}}</h1>
                      </div>
                    </div>

                    <hr>

                    <div class="row">
                      <div class="col-md-4">
                        <div class="row" *ngIf="cvService.basic.address_1 || cvService.basic.address_2 || cvService.basic.address_3">
                          <div class="col-md-5">
                            <h4 class="no-top-padding">Address:</h4>
                          </div>

                          <div class="col-md-7">
                            <p *ngIf="cvService.basic.address_1">{{cvService.basic.address_1}}</p>
                            <p *ngIf="cvService.basic.address_2">{{cvService.basic.address_2}}</p>
                            <p *ngIf="cvService.basic.address_3">{{cvService.basic.address_3}}</p>
                          </div>
                        </div>

                        <hr>

                        <div class="row" *ngIf="cvService.basic.city">
                          <div class="col-md-5">
                            <h4 class="no-top-padding">City:</h4>
                          </div>

                          <div class="col-md-7">
                            <p>{{cvService.basic.city}}</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3 border-left" *ngIf="phoneData">
                        <div class="row" *ngFor="let phone of phoneData">
                          <div class="col-md-4">
                            <h4 class="no-top-padding">{{phone.type.long}}</h4>
                          </div>

                          <div class="col-md-8">
                            <p>{{phone.number}}</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-5 border-left" *ngIf="socialData">
                        <div class="row" *ngFor="let social of socialData">
                          <div class="col-md-4">
                            <h4 class="no-top-padding">{{social.type.long}}</h4>
                          </div>

                          <div class="col-md-8">
                            <p>{{social.link}}</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <hr>

                    <div class="row" *ngIf="cvService.basic.summary">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-3">
                            <h4 class="no-top-padding">Summary:</h4>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-10 offset-md-1">
                            <p>{{cvService.basic.summary}}</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <hr>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>

          <div id="skill" *ngIf="skillData?.length; else noSkillData">
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  <h3>Skills</h3>
                </mat-card-title>
              </mat-card-header>

              <mat-card-content>
                <div *ngFor="let rowData of configureSkills(); let first = first; let last = last">
                  <div class="row" [class.border-bottom]="first && !last" *ngIf="rowData.column.length == 3; else twoColumns">
                    <div class="col-md-4 skills" [class.border-right]="columnFirst" [class.border-left]="columnLast"
                      *ngFor="let columnData of rowData.column; let columnFirst = first; let columnLast = last">
                      <div class="row" *ngIf="columnData.value.label">
                        <div class="col-md-12">
                          <h4 class="border-padding">{{columnData.value.label}}</h4>
                        </div>
                      </div>

                      <div class="row" *ngIf="columnData.value.value">
                        <div class="col-md-12">
                          <ul class="skills-list">
                            <li *ngFor="let skill of columnData.value.value">
                              {{skill}}
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <ng-template #twoColumns>
                    <div class="row" *ngIf="rowData.column.length == 2; else oneColumn">
                      <div class="offset-md-2 col-md-4 skills" [class.border-right]="columnFirst" *ngFor="let columnData of rowData.column; let columnFirst = first">
                        <div class="row" *ngIf="columnData.value.label">
                          <div class="col-md-12">
                            <h4 class="border-padding">{{columnData.value.label}}</h4>
                          </div>
                        </div>

                        <div class="row" *ngIf="columnData.value.value">
                          <div class="col-md-12">
                            <ul class="skills-list">
                              <li *ngFor="let skill of columnData.value.value">
                                {{skill}}
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>

                  <ng-template #oneColumn>
                    <div class="row">
                      <div class="offset-md-4 col-md-4 skills" *ngFor="let columnData of rowData.column">
                        <div class="row" *ngIf="columnData.value.label">
                          <div class="col-md-12">
                            <h4 class="border-padding">{{columnData.value.label}}</h4>
                          </div>
                        </div>

                        <div class="row" *ngIf="columnData.value.value">
                          <div class="col-md-12">
                            <ul class="skills-list">
                              <li *ngFor="let skill of columnData.value.value">
                                {{skill}}
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>

                <!-- <div class="row">
                  <div class="col-md-4 skills" *ngFor="let rowData of configureSkills()">
                    <div class="row" *ngIf="category.label">
                      <div class="col-md-12">
                        <h4 class="border-padding">{{category.label}}</h4>
                      </div>
                    </div>

                    <div class="row" *ngIf="category.value">
                      <div class="col-md-12">
                        <ul class="skills-list">
                          <li *ngFor="let skill of category.value">
                            <p>{{skill}}</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div> -->

                <hr>
              </mat-card-content>
            </mat-card>
          </div>

          <div id="tech" *ngIf="techData?.length || (cvService.basic && (cvService.basic.show_repositories && repoData?.length)); else noTechData">
            <mat-card>
              <mat-card-header *ngIf="techData?.length">
                <mat-card-title>
                  <h3>Technology</h3>
                </mat-card-title>
              </mat-card-header>

              <mat-card-content>
                <div class="row" *ngIf="techData?.length">
                  <div class="col-md-12">
                    <p-carousel circular="circular" autoplayInterval="10000" [value]="techData">
                      <ng-template let-tech pTemplate="item">
                        <div class="row" *ngIf="tech.img">
                          <div class="col-md-4 offset-md-4">
                            <img src="{{tech.img}}" alt="Tech Image">
                          </div>
                        </div>

                        <div class="row border-padding" *ngIf="tech.name">
                          <div class="col-md-3">
                            <h5>Name:</h5>
                          </div>

                          <div class="col-md-9">
                            <p class="vertical-align">{{tech.name}}</p>
                          </div>
                        </div>

                        <div class="row border-padding" *ngIf="tech.detail">
                          <div class="col-md-12">
                            <h5>Details:</h5>
                          </div>
                        </div>

                        <div class="row border-padding" *ngIf="tech.detail">
                          <div class="col-md-12">
                            <p>{{tech.detail}}</p>
                          </div>
                        </div>

                        <hr class="hr-padding" *ngIf="tech.link">

                        <div class="row padding-bottom" *ngIf="tech.link">
                          <div class="col-md-6 offset-md-3">
                            <button type="button" class="full-width" pButton icon="fa fa-external-link" iconPos="right"
                              label="Go To Technology" (click)="openTech(tech.link)"></button>
                          </div>
                        </div>
                      </ng-template>
                    </p-carousel>
                  </div>
                </div>

                <hr *ngIf="techData?.length && cvService.basic.show_repositories && repoData?.length">

                <div class="row" *ngIf="cvService.basic.show_repositories && repoData?.length">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3">
                        <h3>Repositories</h3>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div *ngFor="let repo of repoData">
                            <a role="button" href="http://{{repo.link}}" target="_blank">
                              <div class="col-md-3">
                                <div class="row">
                                  <div class="col-md-12" [ngSwitch]="repo.type.long">
                                    <i *ngSwitchCase="'BitBucket'" class="fa fa-bitbucket" aria-hidden="true"></i>
                                    <i *ngSwitchCase="'GitHub'" class="fa fa-github" aria-hidden="true"></i>
                                  </div>

                                  <div class="col-md-9">
                                    <a role="button" (click)="openRepo(repo.link)">{{repo.type.long}}
                                      <i class="fa fa-external-link"></i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <hr>
              </mat-card-content>
            </mat-card>
          </div>

          <div id="experience" *ngIf="experienceData?.length; else noExperienceData">
            <mat-card class="experience-card">
              <mat-card-header>
                <mat-card-title>
                  <h3>Experience</h3>
                </mat-card-title>
              </mat-card-header>

              <mat-card-content>
                <ul class="timeline">
                  <li *ngFor="let experience of experienceData; let isOdd = odd; let isEven = even">
                    <div class="time-card" [class.direction-l]="isOdd" [class.direction-r]="isEven">
                      <div class="flag-wrapper">
                        <span class="flag" *ngIf="experience.title">{{experience.title}}</span>
                        <span *ngIf="experience.current && experience.start_date" class="time-wrapper time">{{experience.start_date
                          | date:'MMM y'}} - Current</span>
                        <span *ngIf="!experience.current && experience.start_date && experience.end_date" class="time-wrapper time">{{experience.start_date
                          | date:'MMM y'}} - {{experience.end_date | date:'MMM y'}}</span>
                      </div>

                      <div class="desc">
                        <div *ngIf="isEven">
                          <div class="row">
                            <!-- <div class="col-md-3" *ngIf="experience.image">
                              <img src="{{experience.image}}">
                            </div> -->

                            <div class="col-md-12" *ngIf="experience.location">
                              <div class="row">
                                <div class="col-md-4">
                                  <h5>Location:</h5>
                                </div>

                                <div class="col-md-8">
                                  <p class="vertical-align-experience">{{experience.location}}</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row" *ngIf="experience.description">
                            <div class="col-md-12">
                              <h5>Description:</h5>
                            </div>
                          </div>

                          <div class="row" *ngIf="experience.description">
                            <div class="col-md-12">
                              <p>{{experience.description}}</p>
                            </div>
                          </div>
                        </div>

                        <div *ngIf="isOdd">
                          <div class="row">
                            <div class="col-md-12" *ngIf="experience.location">
                              <div class="row">
                                <div class="col-md-4">
                                  <h5>Location:</h5>
                                </div>

                                <div class="col-md-8">
                                  <p class="text-left vertical-align-experience">{{experience.location}}</p>
                                </div>
                              </div>
                            </div>

                            <!-- <div class="col-md-3" *ngIf="experience.image">
                              <img src="{{experience.image}}">
                            </div> -->
                          </div>

                          <div class="row" *ngIf="experience.description">
                            <div class="col-md-12">
                              <h5>Description:</h5>
                            </div>
                          </div>

                          <div class="row" *ngIf="experience.description">
                            <div class="col-md-12">
                              <p>{{experience.description}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>

                <hr>
              </mat-card-content>
            </mat-card>
          </div>

          <div id="education" *ngIf="educationData?.length; else noEducationData">
            <mat-card class="experience-card">
              <mat-card-header>
                <mat-card-title>
                  <h3>Education</h3>
                </mat-card-title>
              </mat-card-header>

              <mat-card-content>
                <ul class="timeline">
                  <li *ngFor="let education of educationData; let isOdd = odd; let isEven = even">
                    <div class="time-card" [class.direction-l]="isOdd" [class.direction-r]="isEven">
                      <div class="flag-wrapper">
                        <span class="flag" *ngIf="education.course">{{education.course}}</span>
                        <span *ngIf="education.year" class="time-wrapper time">{{education.year | date:'MMM y'}}</span>
                      </div>

                      <div class="desc">
                        <div *ngIf="isEven">
                          <div class="row">
                            <!-- <div class="col-md-3" *ngIf="education.img">
                              <img src="{{education.img}}">
                            </div> -->

                            <div class="col-md-12" *ngIf="education.school">
                              <div class="row">
                                <div class="col-md-4">
                                  <h5>School:</h5>
                                </div>

                                <div class="col-md-8">
                                  <p class="vertical-align-experience">{{education.school}}</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row" *ngIf="getPapers(education.id)?.length">
                            <div class="col-md-12 paper-table">
                              <p-table [value]="getPapers(education.id)">
                                <ng-template pTemplate="header">
                                  <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Grade</th>
                                    <!-- <th>Details</th> -->
                                  </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-paper>
                                  <tr>
                                    <td>{{ paper.code }}</td>
                                    <td>{{ paper.name }}</td>
                                    <td>{{ paper.grade }}</td>
                                    <!-- <td>
                                      <span matTooltip="{{paper.detail}}">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                      </span>
                                    </td> -->
                                  </tr>
                                </ng-template>

                                <!-- <p-column field="code" header="Code" styleClass="paper-column"></p-column>
                                <p-column field="name" header="Name"></p-column>
                                <p-column field="grade" header="Grade" [style]="{width: '15%'}"></p-column>
                                <p-column header="Details" [style]="{width: '15%'}">
                                  <ng-template let-paper="rowData" pTemplate="body">
                                    <span matTooltip="{{paper.detail}}">
                                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </span>
                                  </ng-template>
                                </p-column> -->
                              </p-table>
                            </div>
                          </div>

                          <div class="row" *ngIf="education.link">
                            <div class="col-md-12 course-link">
                              <button pButton type="button" icon="fa fa-external-link" iconPos="right" label="Go To Course"
                                (click)="openCourse(education.link)"></button>
                            </div>
                          </div>
                        </div>

                        <div *ngIf="isOdd">
                          <div class="row">
                            <div class="col-md-12" *ngIf="education.school">
                              <div class="row">
                                <div class="col-md-4">
                                  <h5>School:</h5>
                                </div>

                                <div class="col-md-8">
                                  <p class="text-left vertical-align-experience">{{education.school}}</p>
                                </div>
                              </div>
                            </div>

                            <!-- <div class="col-md-3" *ngIf="education.img">
                              <img src="{{education.img}}">
                            </div> -->
                          </div>

                          <div class="row" *ngIf="getPapers(education.id)?.length">
                            <div class="col-md-12 paper-table">
                              <p-table [value]="getPapers(education.id)">
                                <ng-template pTemplate="header">
                                  <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Grade</th>
                                    <!-- <th>Details</th> -->
                                  </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-paper>
                                  <tr>
                                    <td>{{ paper.code }}</td>
                                    <td>{{ paper.name }}</td>
                                    <td>{{ paper.grade }}</td>
                                    <!-- <td>
                                      <span matTooltip="{{paper.detail}}">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                      </span>
                                    </td> -->
                                  </tr>
                                </ng-template>

                                <!-- <p-column field="code" header="Code" [style]="{width: '15%'}"></p-column>
                                <p-column field="name" header="Name"></p-column>
                                <p-column field="grade" header="Grade" [style]="{width: '15%'}"></p-column>
                                <p-column header="Details" [style]="{width: '15%'}">
                                  <ng-template let-paper="rowData" pTemplate="body">
                                    <span matTooltip="{{paper.detail}}">
                                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </span>
                                  </ng-template>
                                </p-column> -->
                              </p-table>
                            </div>
                          </div>

                          <div class="row" *ngIf="education.link">
                            <div class="col-md-12 course-link">
                              <button pButton type="button" icon="fa fa-external-link" iconPos="right" label="Go To Course"
                                (click)="openCourse(education.link)"></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>

                <hr>
              </mat-card-content>
            </mat-card>
          </div>

          <div id="other" *ngIf="achievementData?.length || interestData?.length || (cvService.basic && cvService.basic.show_referees); else noOtherData">
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  <h3>Other Details</h3>
                </mat-card-title>
              </mat-card-header>

              <mat-card-content>
                <div class="row">
                  <div class="col-md-8 border-right" *ngIf="achievementData?.length">
                    <div class="row border-padding">
                      <h4>Achievements</h4>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <mat-grid-list cols="2" rowHeight="1.5:1">
                          <mat-grid-tile *ngFor="let achievement of achievementData">
                            <mat-grid-tile-header *ngIf="achievement.name">
                              {{achievement.name}}
                            </mat-grid-tile-header>

                            <div class="row border-padding" *ngIf="achievement.whatWhy">
                              <div class="col-md-12">
                                <h5>What/Why:</h5>

                                <div class="row">
                                  <div class="col-md-12">
                                    <p>{{achievement.whatWhy}}</p>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <mat-grid-tile-footer *ngIf="achievement.where">
                              <h5>Where:</h5>
                              <p class="achievement-where">{{achievement.where}}</p>
                            </mat-grid-tile-footer>
                          </mat-grid-tile>
                        </mat-grid-list>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4" *ngIf="interestData?.length">
                    <div class="row">
                      <div class="col-md-12">
                        <h4>Interests/Hobbies</h4>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <mat-list dense>
                          <mat-list-item *ngFor="let interest of interestData">
                            <img matListAvatar src="{{interest.img}}" *ngIf="interest.img; else defaultIcon">
                            <ng-template #defaultIcon>
                              <mat-icon matListIcon fontSet="font-awesome" fontIcon="fa-chevron-right"></mat-icon>
                            </ng-template>

                            <h5 matLine>{{interest.name}}</h5>
                          </mat-list-item>
                        </mat-list>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="cvService.basic">
                  <hr *ngIf="cvService.basic.show_referees">

                  <div class="row" *ngIf="cvService.basic.show_referees">
                    <div class="col-md-12">
                      <h3 class="center-text">Referees and paper CV are available on request at my e-mail:
                        <br /> thedash52@hotmail.com</h3>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <div *ngIf="cvService.basic && skillData?.length && techData?.length && experienceData?.length && educationData?.length && achievementData?.length && interestData?.length; else noData">
            <ng-template #noBasicData>
              <div id="basic">
                <mat-card class="no-data">
                  <mat-card-header>
                    <mat-card-title>
                      <h3>
                        <strong>Basic</strong> - No Data To Display!</h3>
                    </mat-card-title>
                  </mat-card-header>
                </mat-card>
              </div>
            </ng-template>

            <ng-template #noSkillData>
              <div id="skill">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>
                      <h3>
                        <strong>Skills</strong> - No Data To Display</h3>
                    </mat-card-title>
                  </mat-card-header>
                </mat-card>
              </div>
            </ng-template>

            <ng-template #noTechData>
              <div id="tech">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>
                      <h3>
                        <strong>Technology</strong> - No Data To Display</h3>
                    </mat-card-title>
                  </mat-card-header>
                </mat-card>
              </div>
            </ng-template>

            <ng-template #noExperienceData>
              <div id="experience">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>
                      <h3>
                        <strong>Experience</strong> - No Data To Display</h3>
                    </mat-card-title>
                  </mat-card-header>
                </mat-card>
              </div>
            </ng-template>

            <ng-template #noEducationData>
              <div id="education">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>
                      <h3>
                        <strong>Education</strong> - No Data To Display</h3>
                    </mat-card-title>
                  </mat-card-header>
                </mat-card>
              </div>
            </ng-template>

            <ng-template #noOtherData>
              <div id="other">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>
                      <h3>
                        <strong>Other</strong> - No Data To Display</h3>
                    </mat-card-title>
                  </mat-card-header>
                </mat-card>
              </div>
            </ng-template>
          </div>

          <ng-template #noData>
            <div id="basic">
              <mat-card class="no-data">
                <mat-card-header>
                  <mat-card-title>
                    <h3>No Data To Display!</h3>
                  </mat-card-title>
                </mat-card-header>
              </mat-card>
            </div>
          </ng-template>
        </div>
      </div>

      <footer class="footer">
        <p class="center-text footer-text">This site was created by Daniel Nash.
          <br />Version: {{version}}</p>
      </footer>
    </div>
  </div>
</div>
